body {
  margin: 0;
  font-family: sans-serif;
  background-color: blue;
}

h1 {
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: brown;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
  padding: 10px;
}

.menu-item {
  background-color: white;
  border: 1px solid;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-item h2 {
  margin: 0;
}

.price {
  margin-top: 10px;
  font-weight: bold;
  color: black;
}
